
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}



body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#F2C307;
  background-image: url(./resources/shopping-bag-grocery.png);
  background-repeat: no-repeat;
  background-size: auto 70vh;
  background-position: 60% 0%;
  padding: 0 5vw;
}

@media (max-width: 500px) { 
  body { 
    padding: 0;
  }
}

h1 {
  font-size: 3em;
}

button {
  display: flex;
  align-items: center;
}


.button {
  border: none;
  border-radius: 10px;
  padding: 3px 20px;
  background-color: #F2C307;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
}

  .button:hover {
      cursor: pointer;
  } 

  .button:active {
      background-color: #e2b708;
      position: relative;
      left: 1px;
      top: 2px;
  }


